---
extends: default

rules:
  line-length:
    max: 200
    level: warning

ignore: |
  .github/
  /.github/
  .cache/
  ansible-role-packer/.github/
  /ansible-role-packer/.github/
  /ansible-role-packer/.cache/
  ansible-role-packer/.cache
